body{
    background-color: gray;
    margin: 8em;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

#wrapper{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 800px;
}